[user]
  name = Steven Shaw
  email = steven@steshaw.org

[color]
  diff = auto
  status = auto

[alias]
  s = status -s
  co = checkout
  ls = ls-files
  slog = log --pretty='%Cred%h %Cblue%ae %Creset%s'

[merge]
  tool = meld
