[user]
  name = Steven Shaw
  email = steven.shaw@flightcentre.com.au

[color]
  diff = auto
  status = auto

[alias]
  s = status -s
  co = checkout
  ls = ls-files
  slog = log --pretty='%Cred%h %Cblue%ae %Creset%s'
  llog = log --date=local

[merge]
  tool = meld
[core]
	excludesfile = /home/steshaw/.gitignore.global
	autocrlf = input
;[svn]
;	authorsfile = /home/steshaw/.git.svn.authors.txt
