[user]
  name = Steven Shaw
  email = steven.shaw@ephox.com
;  email = steshaw@gmail.com

[color]
  diff = auto
  status = auto
  branch = auto

[alias]
  s = status --short --branch
  co = checkout
  ls = ls-files
  slog = log --oneline --decorate
  slog1 = log --pretty='%Cred%h %Cblue%ae %Creset%s'
  llog = log --date=local
  graph = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
  wdiff = diff --word-diff

[merge]
  tool = meld

[core]
  excludesfile = /home/steshaw/.gitignore.global
  autocrlf = input

[credential]
  helper = cache --timeout 36000

[push]
  default = simple

;[merge]
;  tool = meld

;[credential]
;  helper = cache --timeout 36000
