/.gsd-keyboard.settings-ported
/Bitwarden CLI/
/BraveSoftware/
/Code/
/Hyper/
/JetBrains/
/Keybase/
/Microsoft/
/QtProject.conf
/QtProject/
/RescueTime.com/
/Slack/
/Thunar/
/Trolltech.conf
/VirtualBox
/Visual Studio Live Share/
/akregatorrc
/autostart/
/autostart/keybase_autostart.desktop
/balena-etcher-electron/
/baloofilerc
/bluedevilglobalrc
/caja/
/chromium/
/coc/
/composer/
/configstore
/containers/
/dconf/
/discord/
/dlv/
/dolphinrc
/electron/
/emaildefaults
/enchant/
/eog/
/epiphany/
/evolution/
/filetypesrc
/freerdp/
/gatsby/
/gcloud/
/geany/
/gedit/
/gh/
/github-copilot/
/glib-2.0/
/gnome-control-center/
/gnome-initial-setup-done
/goa-1.0/
/google-chrome/
/gpick/
/grammarly-languageserver/
/gtkrc
/gtkrc-2.0
/gwenviewrc
/htop
/hub
/ibus/
/inkscape/
/jgit/
/kactivitymanagerd-statsrc
/kactivitymanagerdrc
/kateschemarc
/katevirc
/kcharselectrc
/kcminputrc
/kcmshell5rc
/kconf_updaterc
/kdeconnect/
/kded5rc
/kdeglobals
/keybase/
/kfontinstuirc
/kfontviewrc
/kglobalshortcutsrc
/khelpcenterrc
/khotkeysrc
/kioclientrc
/kmixrc
/knotifyrc
/konsole.notifyrc
/konsolerc
/kritadisplayrc
/kritarc
/krunnerrc
/kscreenlockerrc
/ksmserverrc
/ksplashrc
/ksysguardrc
/ktimezonedrc
/kwalletrc
/kwinrc
/kwinrulesrc
/kxkbrc
/lab.hcl
/libreoffice/
/linkchecker/
/menus/
/mimeapps.list
/monitors.xml
/nautilus/
/netlify/
/nextjs-nodejs
/okularpartrc
/okularrc
/pavucontrol-qt/
/pavucontrol.ini
/plasma-localerc
/plasma-nm
/plasma-org.kde.plasma.desktop-appletsrc
/plasmanotifyrc
/plasmarc
/plasmashellrc
/pluma/
/powerdevilrc
/powermanagementprofilesrc
/psysh_history
/pulse/
/pypoetry/
/qt5ct/
/qterminal.org/
/session/
/spectaclerc
/startupconfig
/startupconfigfiles
/startupconfigkeys
/sublime-text/
/systemd/
/systemmonitorrc
/systemsettingsrc
/teamviewer/
/terminator/
/terminology/
/touchpadrc
/touchpadxlibinputrc
/trashrc
/update-notifier
/user-dirs.dirs
/user-dirs.locale
/vlc/
/xfce4/
/yarn/
/yelp/
/zed
/zoomus.conf
