/akregatorrc
/autostart/
/autostart/keybase_autostart.desktop
/balena-etcher-electron/
/baloofilerc
/bluedevilglobalrc
/BraveSoftware/
/caja/
/chromium/
/coc/
/Code/
/composer/
/configstore
/containers/
/dconf/
/discord/
/dlv/
/dolphinrc
/electron/
/emaildefaults
/enchant/
/eog/
/epiphany/
/evolution/
/filetypesrc
/freerdp/
/gcloud/
/geany/
/gedit/
/gh/
/glib-2.0/
/gnome-control-center/
/gnome-initial-setup-done
/google-chrome/
/gpick/
/gtkrc
/gtkrc-2.0
/gwenviewrc
/htop
/hub
/Hyper/
/ibus/
/inkscape/
/JetBrains/
/jgit/
/kactivitymanagerdrc
/kactivitymanagerd-statsrc
/kateschemarc
/katevirc
/kcharselectrc
/kcminputrc
/kcmshell5rc
/kconf_updaterc
/kdeconnect/
/kded5rc
/kdeglobals
/keybase/
/Keybase/
/kfontinstuirc
/kfontviewrc
/kglobalshortcutsrc
/khelpcenterrc
/khotkeysrc
/kioclientrc
/kmixrc
/knotifyrc
/konsole.notifyrc
/konsolerc
/kritadisplayrc
/kritarc
/krunnerrc
/kscreenlockerrc
/ksmserverrc
/ksplashrc
/ksysguardrc
/ktimezonedrc
/kwalletrc
/kwinrc
/kwinrulesrc
/kxkbrc
/lab.hcl
/libreoffice/
/linkchecker/
/menus/
/Microsoft/
/mimeapps.list
/monitors.xml
/nautilus/
/okularpartrc
/okularrc
/pavucontrol.ini
/pavucontrol-qt/
/plasma-localerc
/plasma-nm
/plasmanotifyrc
/plasma-org.kde.plasma.desktop-appletsrc
/plasmarc
/plasmashellrc
/pluma/
/powerdevilrc
/powermanagementprofilesrc
/psysh_history
/pulse/
/qt5ct/
/qterminal.org/
/QtProject/
/QtProject.conf
/RescueTime.com/
/session/
/Slack/
/spectaclerc
/startupconfig
/startupconfigfiles
/startupconfigkeys
/sublime-text/
/systemd/
/systemmonitorrc
/systemsettingsrc
/teamviewer/
/terminology/
/Thunar/
/touchpadrc
/touchpadxlibinputrc
/trashrc
/Trolltech.conf
/user-dirs.dirs
/user-dirs.locale
/VirtualBox
/Visual Studio Live Share/
/vlc/
/xfce4/
/yarn/
/yelp/
/zoomus.conf
