/Thunar/
/configstore
/dconf/
/gtk-3.0/
/htop
/hub
/pulse/
/user-dirs.dirs
/user-dirs.locale
/xfce4/
/yarn/

# KDE configuration files.
/session/

/Trolltech.conf
/akregatorrc
/baloofilerc
/dolphinrc
/gtkrc
/gtkrc-2.0
/kactivitymanagerd-statsrc
/kactivitymanagerdrc
/kateschemarc
/kcharselectrc
/kcminputrc
/kconf_updaterc
/kded5rc
/kdeglobals
/kglobalshortcutsrc
/khelpcenterrc
/khotkeysrc
/kmixrc
/konsolerc
/krunnerrc
/kscreenlockerrc
/ksmserverrc
/ksysguardrc
/ktimezonedrc
/kwinrc
/kwinrulesrc
/kxkbrc
/plasma-localerc
/plasma-org.kde.plasma.desktop-appletsrc
/plasmarc
/plasmashellrc
/powerdevilrc
/powermanagementprofilesrc
/startupconfig
/startupconfigfiles
/startupconfigkeys
/systemsettingsrc
/spectaclerc
/QtProject.conf
/katevirc
/kioclientrc
/kwalletrc

/kcmshell5rc


#
# App config.
#
/Code/
/Hyper/
/RescueTime.com/
/Slack/
/composer/
/freerdp/
/gcloud/
/gwenviewrc
/inkscape/
/libreoffice/
/linkchecker/
/psysh_history
/teamviewer/

#
# Ignore Keybase files.
#
/autostart/keybase_autostart.desktop
/keybase/

#
# Other.
#
/mimeapps.list
/filetypesrc
bluedevilglobalrc
containers/
pavucontrol-qt/
pavucontrol.ini
/systemmonitorrc
/emaildefaults
/knotifyrc
/touchpadrc

/nvim
