/BraveSoftware/
/Code/
/Hyper/
/QtProject.conf
/RescueTime.com/
/Slack/
/Thunar/
/Trolltech.conf
/akregatorrc
/autostart/keybase_autostart.desktop
/baloofilerc
/coc/
/composer/
/configstore
/dconf/
/dolphinrc
/emaildefaults
/enchant/
/evolution/
/filetypesrc
/freerdp/
/gcloud/
/gedit/
/gtk-2.0/
/gtk-3.0/
/gtkrc
/gtkrc-2.0
/gwenviewrc
/htop
/hub
/inkscape/
/kactivitymanagerd-statsrc
/kactivitymanagerdrc
/kateschemarc
/katevirc
/kcharselectrc
/kcminputrc
/kcmshell5rc
/kconf_updaterc
/kded5rc
/kdeglobals
/keybase/
/kfontinstuirc
/kfontviewrc
/kglobalshortcutsrc
/khelpcenterrc
/khotkeysrc
/kioclientrc
/kmixrc
/knotifyrc
/konsolerc
/krunnerrc
/kscreenlockerrc
/ksmserverrc
/ksplashrc
/ksysguardrc
/ktimezonedrc
/kwalletrc
/kwinrc
/kwinrulesrc
/kxkbrc
/libreoffice/
/linkchecker/
/mimeapps.list
/okularrc
/plasma-localerc
/plasma-org.kde.plasma.desktop-appletsrc
/plasmanotifyrc
/plasmarc
/plasmashellrc
/powerdevilrc
/powermanagementprofilesrc
/psysh_history
/pulse/
/session/
/spectaclerc
/startupconfig
/startupconfigfiles
/startupconfigkeys
/systemmonitorrc
/systemsettingsrc
/teamviewer/
/touchpadrc
/touchpadxlibinputrc
/trashrc
/user-dirs.dirs
/user-dirs.locale
/xfce4/
/yarn/
/zoomus.conf
bluedevilglobalrc
containers/
pavucontrol-qt/
pavucontrol.ini
