/build-plan/
/build-plan-cache/
/compiler-tools/
/global-project/.stack-work/
/hooks/
/indices/
/loaded-snapshot-cache/
/pantry/
/precompiled/
/programs/
/setup-exe-cache/
/setup-exe-src/
/snapshots/
/stack.sqlite3
/stack.sqlite3-journal
/stack.sqlite3.pantry-write-lock
/stack.sqlite3-shm
/stack.sqlite3-wal
/.stack-work/
/templates/
