# Probably for Stack 2.*

/.stack-work/
/compiler-tools/
/global-project/.stack-work/
/pantry/
/programs/
/setup-exe-cache/
/setup-exe-src/
/snapshots/
/stack.sqlite3
/stack.sqlite3-shm
/stack.sqlite3-wal
/stack.sqlite3.pantry-write-lock

# Probably for Stack 1.*
/build-plan-cache/
/build-plan/
/indices/
/loaded-snapshot-cache/
/precompiled/
